.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #FAEBD7;
    color: #FAEBD7;
    background-color: red;
    font-weight: bold;
}
