.container {
    position: relative;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
    margin: 10px;
}

.cell {
    position: absolute;
}
