.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
    padding-top: 10px;
    height: 90px;
    border: 1px solid black;
}

.score {
    align-items: flex-start;
    padding-left: 10px;
}

.nextFigure {
    text-align: center;
}

.level {
    align-items: flex-end;
    padding-right: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info {
    font-size: 36px;
}
